<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Management System</title>

    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <style>
        #checkout {
            display: inline-flex;
            width: 80%;
            margin-left: 9%;
        }

        #pimage {
            width: 50%;
            height: 100%;
            padding: 2%;
        }

        #rimage {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }

        #detail {
            width: 50%;
        }

        #details {
            margin: 5%;
            margin-left: 20%;
            text-align: center;
            width: 90%;
            padding: 4%;
        }

        #buttons {
            align-content: center;
            display: inline-flex;
            padding: 5%;
        }

        #btncheckout {
            display: inline;
            margin-right: 15%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Online renting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"></div>
        </div>
        <form action="/customer/logout" method="POST">
            <button type="submit" class="btn btn-warning btn-md">Logout</button>
        </form>
    </nav>

    <!-- home -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body ">
                        <div class="container">
                            <div class="row">
                                <div id="checkout">
                                    <div id="pimage">
                                        <img src="../static/img/apart.jpg" id="rimage">
                                    </div>
                                    <div id="detail">
                                        <div id="header">
                                        </div>
                                        <div id="details">
                                            {% for each in thisrental %}
                                            <form action="/wallet/balance" method="POST">
                                                <div class="form-group">
                                                    <label for="productname"><strong>location</strong></label>
                                                    <p>{{each.location}}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label for="productname"><strong>description</strong></label>
                                                    <p>{{each.description}}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>Amount:</strong></label>
                                                    <p>ksh. {{each.price }}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label><strong>phone number:</strong></label>
                                                    <p>+254 798954562</p>
                                                </div>
                                                <div id="buttons">
                                                    <div class="form-group" id="btncheckout">
                                                        <button type="submit" class="btn btn-success btn-md">
                                                            checkout
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        function cookiefy() {
            // var x = document.getElementById('myid').getAttribute("value");
            // var res = x.charAt(x.length - 1);
            // Cookies.set('id', res);
            var idcookie = {};
            idcookie['name'] = 'id';
            idcookie['value'] = res;
            document.Cookies = "";
            Cookies.set(idcookie);
        } -->
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>