<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Order Management System</title>

    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Online renting</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav"></div>
        </div>
        <form action="/customer/logout" method="POST">
            <button type="submit" class="btn btn-warning btn-md">Logout</button>
        </form>
    </nav>

    <!-- home -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <!-- <div class="card-header ">
                        <h5 class="card-title">Products</h5>
                        <p class="card-category"></p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addProduct">Add product</button>
                    </div> -->
                    <div class="card-body ">
                        <div class="container">
                            <div class="row">
                                {% for each in allrentals %}
                                <div class="col-md-3 mb-5">
                                    <div class="card  shadow-lg" style="width: 15rem;">
                                        <img class="card-img-top" src="{{ each.img }}" alt="Card image cap"
                                            height="150" />
                                        <div class="card-body">
                                            <h5 class="card-title">{{ each.location }}</h5>
                                            <p class="card-text">{{ each.description }}</p>
                                            <p class="text-monospace text-sm text-danger">
                                                <span>monthly rent: KES</span> {{ each.price }}
                                            </p>
                                            <!-- <a href="#" class="btn btn-primary">Place bid</a> -->
                                            <button class="btn btn-primary" data-toggle="modal" id="this"
                                                data-target="#bid{{ each.id }}" onclick="cookiefy()">
                                                book rental
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!-- add new product modal -->
                                <div class="modal fade" id="bid{{ each.id }}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    Book space
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/rentals/book" method="POST">
                                                    <div class="form-group">
                                                        <label for="productname">rental id:</label>
                                                        <input type="text" class="form-control" name="id" id="myid"
                                                            value="{{ each.id }}" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="productname">description</label>
                                                        <p>{{ each.description }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">price:</label>
                                                        <p style="color:red;">* Ksh {{ each.price }}</p>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="">Movein Date:</label>
                                                        <input style="color:red;" type="date" class="form-control"
                                                            name="date" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success btn-md">
                                                            Book
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        function cookiefy() {
            var x = document.getElementById('myid').getAttribute("value");
            var res = x.charAt(x.length - 1);
            // Cookies.set('id', res);
            var idcookie = {};
            idcookie['name'] = 'id';
            idcookie['value'] = res;
            Cookies.set("");
            Cookies.set(idcookie);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>