<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create account</title>
    <!-- css link -->
    <link rel="stylesheet" href="../static/css/login.css">
    <!-- bootstrap link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="form-group" action="/cust_reg" method="POST">
                <h5>Online Renting System</h5>
                <h6>Create account</h6>
                <div class="form-group">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} " role="alert">
                        <span>{{ message }}</span>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <input type="text" placeholder="Full name" name="name" required />
                <input type="email" placeholder="Email" name="email" required />
                <input type="number" placeholder="Phone number" name="phone" required />
                <input type="password" placeholder="password" name="password" required>
                <input type="password" placeholder="confirm password" name="confirmpass" required>
                <button type="submit">create</button>
                <p class="message">Already registered? <a href="/login">Sign In</a></p>
            </form>
        </div>
    </div>
</body>

</html>